# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FarmManagementSystem.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\fagam\RiderProjects\FarmManagementSystem\.idea\.idea.FarmManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
